# Python caches
__pycache__/
*.pyc
*.pyo

# Secrets
.env

# Local dev envs & IDE settings
.venv/
.vscode/
.idea/

# Docker PostgreSQL container data (should not version raw DB files)
pgdata/

# Test runner cache
pytest_cache/

# macOS system junk
.DS_Store
